<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecologia</title>
    <link rel="stylesheet" href="./ecologia.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <section id="intro">
        <div class="intro">
            <div class="text">
                <div class="up">
                    <h1>ECOLOGIA</h1>
                </div>
                <div class="down">
                    <p>Galera! MUITA ATENÇÃO AGORA, porque esse conteúdo é meegaaa importante no ENEM! A chance de cair é de 99%. Segundo nosso levantamento, desde 2005 caíram 120 questões desse tópico na prova, o que significa uma média de 6 questões por exame. É muita coisa né? Por isso queremos garantir que você tenha uma boa pontuação.</p>
                </div>
            </div>
        </div>
        <div class="photo">
            <img src="./ecologia_1.png" alt="">
        </div>
    </section>

    <section id="sumario">
        <div class="title">
            <h1>SUMÁRIO</h1>
        </div>
        <div class="all">
            <div class="left">
                <div class="sumario_text1">
                    <h1>1. Objetivo e importância da ecologia;</h1>
                    <h1>Conceitos básicos;</h1>
                    <p>2.1. Habitat;<br>
                        2.2. Nicho Ecológico;<br>
                        2.3. Cadeia alimentar e Teia alimentar;<br>
                        2.4. Pirâmide ecológica;<br>
                        2.5. Biodiversidade;<br>
                        2.6. Conservação e sustentabilidade;</p>
                    <h1>3. Fatores bióticos e abióticos;</h1>
                    <h1>4.  Níveis de organização em ecologia;</h1>
                    <p>4.1 População;<br>
                        4.2 Comunidade;<br>
                        4.3 Ecossistema;<br>
                        4.4 Biosfera</p>
                </div>
            </div>
            <div class="right">
                <div class="sumario_text2">
                    <h1>5.  Tipos de relações ecológicas;</h1>
                    <p>5.1 Relações harmônicas x desarmônicas;<br>
                    5.2 Relações interespecíficas x intraespecíficas;<br>
                    5.3 Relações intraespecíficas harmônicas;<br>
                    5.4 Relações intraespecíficas desarmônicas;<br>
                    5.5 Relações interespecíficas harmônicas;<br>
                5.6 Relações interespecíficas desarmônicas;</p>
                </div>
                <div class="photo_2">
                    <img src="./ecologia_2.png" alt="">
                </div>
            </div>
        </div>
    </section>

</body>
</html>
<router-outlet></router-outlet>
